<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<context:property-placeholder location="classpath:props/vovalues.properties" />
	
	<!-- <bean id="hello" class="simpledi.bean.Hello" scope="prototype"> -->
	<bean id="hello" class="simpledi.bean.Hello">
		<!-- 1. setter injection -->
		<!-- <property name="name" value="Spring" />
		<property name="printer" ref="stringPrinter" /> -->
		
		<!-- 2. constructor injection : index -->
		<!-- <constructor-arg index="0" value="Spring" />
		<constructor-arg index="1" ref="stringPrinter" /> -->
		
		<!-- 3. constructor injection : name -->
		<constructor-arg name="name" value="Spring" />
		<constructor-arg name="printer" ref="stringPrinter" />
	</bean>
	
	<bean id="stringPrinter" class="simpledi.service.StringPrinter" />
	<bean id="consolePrinter" class="simpledi.service.ConsolePrinter" />
	
	<bean id="vo" class="simpledi.bean.VO">
		<property name="hobbyList">
			<list>
				<value>${hobbyValue1}</value>
				<value>${hobbyValue2}</value>
				<value>${hobbyValue3}</value>
			</list>
		</property>
		<property name="personMap">
			<map>
				<entry key="name" value="${personName}" />
				<entry key="address" value="${personAddress}" />
			</map>
		</property>
	</bean>
</beans>
