@charset "UTF-8";

body {
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
    margin-top: 50px;
}

.search-container {
	display: flex;
	justify-content: space-between;
}

.search-container > a{
	margin-left:10px;
}

.searchVal {
	width: 400px;
}

.table th, .table td {
    vertical-align: middle;
}